<% @linkactive = 'index' %>
<% if @user.id? %>
<h1 class="cover-heading">Bienvenido de vuelta <strong><%= @user.name %></strong></h1>
<p class="lead">Entra a tu perfil para realizar tus operaciones.</p>
<p class="lead">
  <a href="/page/profile" class="btn btn-lg btn-primary">Ir al Perfil</a>
</p>
<% else %>
<h1 class="cover-heading">EWallet Conekta.</h1>
<p class="lead">Para disfrutar del servicio por favor registrate o inicia sesión si ya tienes una cuenta.</p>
<p class="lead">
  <a href="/page/register" class="btn btn-lg btn-secondary">Registro</a>
  <a href="/page/login" class="btn btn-lg btn-primary">Login</a>
</p>
<% end %>