<% @linkactive = 'login' %>
<%= form_tag(access_attempt_login_path, :method => 'post') do |f| %>
    <h2 class="form-signin-heading">Iniciar Sesión</h2>
    <label for="email" class="sr-only">Email</label>
    <input type="email" id="email" name="email" class="form-control" placeholder="Email" required autofocus>
    <label for="password" class="sr-only">Password</label>
    <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
    
    <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
<% end %>