<% @linkactive = 'register' %>
<%= form_tag(users_path) do |f| %>
    <h2 class="form-signin-heading">Registro</h2>
    <label for="inputEmail" class="sr-only">Nombre</label>
    <input type="text" id="name" name="user[name]" class="form-control" placeholder="Nombre" required autofocus>
    <label for="inputEmail" class="sr-only">Email</label>
    <input type="email" id="email" name="user[email]" class="form-control" placeholder="Email" required autofocus>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="password" name="user[password]" class="form-control" placeholder="Password" required>
    
    <button class="btn btn-lg btn-primary btn-block" type="submit">Entrar</button>
<% end %>