<footer class="mastfoot">
    <div class="inner">
      <p>Desarrollado por <a href="http://techingenius.com/equipo/jonasgraterol/" target="_blank">Jonas Graterol</a>, para <a href="https://www.conekta.com" target="_blank">Conekta</a>.</p>
    </div>
</footer>