<h4 class="masthead-brand">EWallet <small><% if @user.id? %> <%= @user.id.to_s.rjust(4, '0') %> - <%= @user.name %> <% end %></small></h4>
<nav class="nav nav-masthead">
<%= link_to("Home", {:controller => 'page', :action => 'index'}, :class=> @linkactive == 'index' ? 'nav-link active' : 'nav-link' )  %>
<%= 
  if @user.id? 
    link_to("Perfil", {:controller => 'page', :action => 'profile'}, :class=> @linkactive == 'profile' ? 'nav-link active' : 'nav-link' ) 
  end 
%>
<%= 
  if !@user.id? 
    link_to("Registro", {:controller => 'page', :action => 'register'}, :class=> @linkactive == 'register' ? 'nav-link active' : 'nav-link' ) 
  end  
%>
<%= 
  if !@user.id? 
    link_to("Login", {:controller => 'page', :action => 'login'}, :class=> @linkactive == 'login' ? 'nav-link active' : 'nav-link' ) 
  end 
%>
<%= 
  if @user.id? 
    link_to("Logout", access_logout_path, :class=>"nav-link" )  
  end   
%>
</nav>