<% if !flash[:success].blank? %>
    <div class="alert alert-success" role="alert">
      <%= flash[:success].html_safe %>
    </div>
<% end %>
<% if !flash[:notice].blank? %>
    <div class="alert alert-warning" role="alert">
      <%= flash[:notice].html_safe %>
    </div>
<% end %>
<% if !flash[:error].blank? %>
    <div class="alert alert-danger" role="alert">
      <%= flash[:error].html_safe %>
    </div>
<% end %>