<select class="custom-select col-7" name="transfer[user_to_id]" id="user_to_id" required>
    <option value="" selected>Seleccione destinatario...</option>
    <% User.all.each do |user| %>
        <% if session[:user_id] != user.id %>
           <option value="<%= user.id %>"><%= user.id.to_s.rjust(4, '0') %> - <%= user.name %></option>   
        <% end %>
    <% end %>
</select>